name: Rust

on: [push, pull_request]

env:
  CARGO_TERM_COLOR: always
  CARGO_INCREMENTAL: 0

jobs:
  test:
    name: Test and Clippy
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        with:
          submodules: 'recursive'
      - uses: dtolnay/rust-toolchain@stable
      - uses: taiki-e/install-action@cargo-hack
      - run: cargo hack check --feature-powerset --all
      - run: cargo hack test --feature-powerset --all
      - run: cargo hack clippy --feature-powerset --all

  msrv:
    name: MSRV
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        with:
          submodules: 'recursive'
      - uses: dtolnay/rust-toolchain@stable
        with:
          toolchain: 1.64.0
          components: clippy
      - uses: taiki-e/install-action@cargo-hack
      - run: cargo hack check --feature-powerset --all
      - run: cargo hack test --feature-powerset --all
      - run: cargo hack clippy --feature-powerset --all

  fmt:
    name: Rustfmt
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        with:
          submodules: 'recursive'
      - uses: dtolnay/rust-toolchain@stable
      - run: cargo fmt --all -- --check

