name: Release

permissions:
  contents: write

on:
  push:
    tags:
      - namigator-v[0-9]+.*
      - namigator-sys-v[0-9]+.*

jobs:
  namigator:
    runs-on: ubuntu-latest
    if: startsWith(github.ref, 'refs/tags/namigator-v')
    steps:
      - uses: actions/checkout@v4
      - uses: taiki-e/create-gh-release-action@v1
        with:
          changelog: namigator/CHANGELOG.md
          token: ${{ secrets.GITHUB_TOKEN }}

  namigator-sys:
    runs-on: ubuntu-latest
    if: startsWith(github.ref, 'refs/tags/namigator-sys-v')
    steps:
      - uses: actions/checkout@v4
      - uses: taiki-e/create-gh-release-action@v1
        with:
          changelog: namigator-sys/CHANGELOG.md
          token: ${{ secrets.GITHUB_TOKEN }}

